@import "Fonts.scss";
@import "Colors.scss";

//styling for about page
.App {
  .wrapper {
    //styling for about block
    .about-content {
      position: relative;
      width: 800px;

      @media screen and (max-width: 500px) {
        margin-top: 5rem;
        width: 80vw;
      }
      //styling for about title
      .about-title {
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 4rem;
        color: $primary-color-light;
        margin-bottom: 1.5rem;

        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }

      //styling for about paragraphs
      .paragraph-1,
      .paragraph-2,
      .paragraph-3 {
        width: 65ch;
        font-family: futura-pt;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $text-white;
        margin-bottom: 1.5rem;
        &:nth-child(4) {
          margin-bottom: 5rem;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

      //styling for about links
      .link {
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 1.5rem;
        color: $primary-color;
        margin-right: 3rem;
        text-decoration: none;
        transition: color 0.4s ease-in-out;

        @media screen and (max-width: 500px) {
          font-size: 1.25rem;
          margin-right: 2rem;
        }
        &:hover {
          color: $text-white;
        }
      }

      //styling for photo
      .photo {
        position: fixed;
        height: 90vh;
        bottom: 0;
        right: 25%;
        z-index: -1;

        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }
  }
}
