@import "Fonts.scss";
@import "Colors.scss";

//global styling
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: futura-pt, sans-serif;
}
//html styling for scroll behavior
html {
  scroll-behavior: smooth;
}
//styling the body of the page
body {
  background: $background-gray;
  overflow-x: hidden;
  width: 100vw;
}

// scrollbar styling
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: $background-gray;
}

::-webkit-scrollbar-thumb {
  background: $primary-color-light;
  border-radius: 2px;
  transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}

//root element styling
.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  place-content: center;

  //background logo styling
  .background-logo {
    width: 1440px;
    position: fixed;
    z-index: -1;
    fill: none;
    stroke: $lighter-black;
    stroke-width: 1px;

    @media screen and (max-width: 500px) {
      display: none;
    }

    #bg-logo,
    #bg-logo-overlay {
      position: fixed;
    }

    #bg-logo-overlay {
      fill: $lighter-black;

      opacity: 0.2;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }

  // main logo styling
  .logo {
    position: fixed;
    top: 4.5rem;
    left: 4.5rem;
    width: max-content;
    height: max-content;
    margin: 48px;
    padding: 16px;
    display: grid;
    place-items: center;
    z-index: 10;

    .vr-logo,
    .vr-logo-fill {
      width: 4em;
      position: absolute;

      #logo {
        position: absolute;
        top: 0;
        fill: none;
        stroke: $primary-color;
        stroke-width: 0.5px;
      }
    }

    .vr-logo-fill {
      #logo {
        fill: $primary-color;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    @media screen and (max-width: 500px) {
      top: 32px;
      left: 0;
      position: absolute;
      .vr-logo,
      .vr-logo-fill {
        #logo {
          fill: none;
          stroke: $primary-color;
          stroke-width: 0.5px;
        }
      }
    }
  }

  //content wrapper styling
  .wrapper {
    max-width: 1366px;
    width: 100vw;
    display: grid;
    place-content: center;
    position: relative;
  }
}
