@import "Fonts.scss";
@import "Colors.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: futura-pt, sans-serif;
}

body {
  background: $background-gray;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}

// scrollbar styling
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: $background-gray;
}

::-webkit-scrollbar-thumb {
  background: $lighter-black;
  border-radius: 2px;
  transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}

.App {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-content: center;

  .background-logo {
    width: 1440px;
    position: fixed;
    z-index: -1;
    fill: none;
    stroke: $lighter-black;
    stroke-width: 1px;

    #bg-logo,
    #bg-logo-overlay {
      position: fixed;
    }

    #bg-logo-overlay {
      fill: $lighter-black;

      opacity: 0.2;
    }
  }

  .logo {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem;
    width: max-content;
    height: max-content;
    margin: 48px;
    padding: 16px;
    display: grid;
    place-items: center;

    .vr-logo,
    .vr-logo-fill {
      width: 4em;
      position: absolute;

      #logo {
        position: absolute;
        top: 0;
        fill: none;
        stroke: $primary-color;
        stroke-width: 0.5px;
      }
    }

    .vr-logo-fill {
      #logo {
        fill: $primary-color;
        // clip-path: circle(8px at 0px 0px);
      }
    }
  }

  .wrapper {
    max-width: 1366px;
    width: 100vw;
    height: 100vh;
    padding: 4em;
    display: grid;
    place-content: center;
  }
}
