$background-gray: #141313;
$primary-color: #16a085;
$primary-color-light: #6fbeaf;
$lighter-black: #222121;
$text-white: #ffffff;

// background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
