@import "Fonts.scss";
@import "Colors.scss";

.App {
  .wrapper {
    nav {
      position: fixed;
      left: 4.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 8rem;
      text-align: center;

      ul {
        display: grid;
        grid-auto-flow: rows;
        grid-gap: 4rem;

        .nav-item {
          list-style: none;

          a {
            font-weight: 400;
            font-size: 1rem;
            color: $text-white;
            text-decoration: none;
            opacity: 0.5;
            transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

            &:hover {
              color: $primary-color;
              opacity: 1;
              font-weight: 500;
            }
          }
        }

        .active-nav-item a {
          color: $primary-color;
          opacity: 1;
          font-weight: 500;
        }
      }
    }
    // .nav-dot {
    //   background-color: $primary-color;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 100%;
    //   position: absolute;
    //   top: 8px;
    //   left: 12px;
    //   transition: top 0.2s ease-in-out;
    // }
  }
}
