@import "Fonts.scss";
@import "Colors.scss";

.App {
  nav {
    position: fixed;
    left: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 8rem;
    text-align: center;
    z-index: 10;

    @media screen and (max-width: 500px) {
      display: none;
    }

    ul {
      display: grid;
      grid-auto-flow: rows;
      grid-gap: 4rem;

      li {
        list-style: none;
        .nav-item {
          font-weight: 400;
          font-size: 1rem;
          color: $text-white;
          text-decoration: none;
          opacity: 0.5;
          transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

          &:hover {
            color: $primary-color;
            opacity: 1;
            font-weight: 500;
          }
        }

        .active-nav-item {
          color: $primary-color;
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
  .background-circle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      90.81% 97.79% at 2.67% 22.17%,
      $lighter-black 0%,
      rgba(66, 63, 63, 0) 100%
    );
    background-size: 100%;
    border-radius: 400%;
    border: 2px solid $lighter-black;
    width: 600px;
    height: 600px;
    pointer-events: none;
    z-index: -1;
  }

  .nav-mobile {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 20;
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;

      li {
        list-style: none;
        .nav-item {
          font-weight: 400;
          font-size: 1rem;
          color: $text-white;
          text-decoration: none;
          opacity: 0.5;
          transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

          &:hover {
            color: $primary-color;
            opacity: 1;
            font-weight: 500;
          }
        }

        .active-nav-item {
          color: $primary-color;
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}
