@import "Fonts.scss";
@import "Colors.scss";
@import "Animations.scss";

.App {
  .wrapper {
    .scroll-down {
      position: absolute;
      right: 5%;
      top: 5rem;

      .scroll-down-text {
        text-align: center;
        width: 10ch;
        color: $text-white;
        font-weight: 400;
      }

      .down-arrow {
        width: 4rem;
        height: 4rem;
        display: grid;
        place-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        fill: $primary-color;
        animation: bob 1s infinite alternate;
      }
    }
    .back-to-top {
      position: absolute;
      right: 5%;
      bottom: 5rem;

      .back-to-top-text {
        text-align: center;
        width: 10ch;
        color: $text-white;
        font-weight: 400;
      }
      .up-arrow {
        width: 4rem;
        height: 4rem;
        display: grid;
        place-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        fill: $primary-color;
        animation: bob 1s infinite alternate;
        margin-bottom: 1rem;
      }
    }
    .portfolio-content {
      max-width: calc(600px + 2.5rem);
      position: relative;

      .projects-list {
        width: 100%;
        position: relative;
        padding: 4rem 0 4rem 0;
        place-content: center;
        display: grid;
        grid-gap: 25rem;
        margin: 15rem 0 10rem 0;

        .portfolio-piece-content {
          width: 100%;
          position: relative;
          height: 70%;
          display: grid;
          place-content: center;
          transition: top 0.4s ease-in-out;

          a {
            text-decoration: none;
            .portfolio-title-block {
              display: grid;
              grid-auto-flow: column;
              grid-template-columns: max-content;
              position: relative;
              z-index: 2;

              .portfolio-title {
                font-family: "Playfair Display";
                font-weight: 900;
                font-size: 3rem;
                color: $primary-color-light;
                margin: 0 2.5rem 1rem 0;
              }

              .project-number {
                position: absolute;
                font-family: futura-pt;
                font-weight: 700;
                font-size: 8rem;
                -webkit-text-stroke: 2px $primary-color;
                color: transparent;
                transform: translate(-50%, -50%);
                top: 40%;
                left: 0;
                z-index: -1;
              }

              .left-arrow {
                height: 4rem;
                width: auto;
                fill: $primary-color;
                transition: transform 0.4s ease-in-out;
              }
              &:hover .left-arrow {
                transform: translate(10%);
              }
            }
          }
          .portfolio-subtitle {
            z-index: 2;
            font-family: futura-pt;
            font-weight: 500;
            font-size: 2rem;
            color: $text-white;
            margin-bottom: 2rem;
          }

          .portfolio-description {
            z-index: 2;
            color: $text-white;
            font-family: futura-pt;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
          }

          .portfolio-image {
            position: absolute;
            right: -20%;
            top: -100%;
            filter: brightness(0.2);
            transition: filter 1s ease-in-out;

            &:hover {
              filter: brightness(0.8);
            }
          }
        }
      }
    }
  }
}

@keyframes bob {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 20px);
  }
}
