@import "Fonts.scss";
@import "Colors.scss";

.App {
  .wrapper {
    .splash-frame {
      background: radial-gradient(
        90.81% 97.79% at 2.67% 22.17%,
        $lighter-black 0%,
        rgba(66, 63, 63, 0) 100%
      );
      background-size: 100%;
      grid-area: content;
      place-self: center;
      border-radius: 400%;
      border: 2px solid $lighter-black;
      width: 560px;
      height: 560px;
      display: grid;
      place-content: center;
      justify-items: center;
      text-align: center;
      transition: transform 1s ease-in-out, background-size 1s ease-in-out;

      &:hover {
        transform: scale(1.05);
        background-size: 400%;
      }

      @media screen and (max-width: 500px) {
        height: 95vw;
        width: 95vw;
      }

      .title,
      .title span {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 4.5rem;
        color: $primary-color;
        @media screen and (max-width: 500px) {
          font-size: 2.5rem;
        }
      }

      .title span {
        color: transparent;
        -webkit-text-stroke: 1px $primary-color;
        margin-left: 1rem;
      }

      .subtitle {
        font-family: futura-pt;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        margin-top: 0.5rem;
        color: $text-white;
        @media screen and (max-width: 500px) {
          font-size: 1.25rem;
        }
      }

      .enter {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        color: $primary-color;
        font-size: 2rem;
        margin-top: 3rem;
        text-decoration: none;
        transition: color 0.5s ease-in-out;
        width: fit-content;

        &:hover {
          color: $text-white;
        }
      }
    }
  }
}
